body{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

div {
    width: 200px;
    display: inline-block;
    border: 1px solid black;
}

h2 {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}